<!doctype html>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	  <title>{{ title }}</title>
	  <link rel="icon" href="../static/images/favicon.ico">
	  <link rel="stylesheet" href="../static/css/login.css">
	</head>
	
	<body>    
		<div class="container">
        	<div align="middle" class="login-container">
		<img src="../static/images/secured.png" alt="secured-logo" />
            	<form class="form-signin" action="/login/" method="post">	
	            	{% if err_message %}
					<div class="messageError">{{ err_message }}</div>
					{% endif %}
	                <input type="text" id="inputEmail" name="username" placeholder="Username" required autofocus tabindex="1" />
	                <input type="password" id="inputPassword" name="password" placeholder="Password" required tabindex="2" />
	                <!-- <select id="user_type" class="form-select" name="usertype" tabindex="3">
	                	<option value="1">Expert user</option>
	                	<option value="2">Normal user</option>
	                	<option value="3">Enthusiastic user</option>
	                </select> -->
	                {% csrf_token %}
	                <button class="btn btn-signin" type="submit" tabindex="3">Log in</button>
	            </form>
	        </div>
	    </div>
	</body>
	
</html>
